.result-wrapper {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 0 50px;
}

.title-container {
  .title {
    font-weight: bold;
  }

  .presen-style {
    font-size: 80px;
    font-weight: bold;
    color: #fe8c8c;
  }
}

.result-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .indicator-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;

    .deviation {
      padding-bottom: 20px;
      .deviation-value {
        font-size: 50px;
      }
    }

    .indicator-container {
      width: 100%;
      padding-bottom: 40px;

      .indicator {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .fb-area {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .circle {
        position: relative;
        width: 50vw;
        height: 70vh;
        background-color: #fe8c8c;
        -webkit-clip-path: circle(60% at 70% 70%);
        clip-path: circle(60% at 70% 70%);
    }
    .white-circle {
        z-index: 2;
        position: absolute;
        right: 0;
        top:0;
        width: 50vw;
        height: 70vh;
        background-color: #F4F4F4;
        -webkit-clip-path: circle(50% at 70% 70%);
        clip-path: circle(50% at 70% 70%);
    }
    .img {
        position: absolute;
        right: 10%;
        bottom: 5%;
        width: 25%;
        z-index: 3;
    }
    .comment-container {
        z-index: 4;
        position: absolute;
        right: 7%;
        bottom: 15%;
        background-color: rgba(255, 255, 255, 0.8);
        width: 30%;
        height: 20%;
        
        .good-comment {
            font-size: 18px;
            color: #007AFF;
            font-weight: bold;
        }

        .bad-comment {
          font-size: 18px;
          color: #FF3830;
          font-weight: bold;
      }
    }
  }
}


